.wallet-info {
  background-color: #222; /* Темный фон */
  color: #fff; /* Белый текст */
  padding: 50px;
  /* border-radius: 10px; Закругленные углы */
  text-align: center; /* Центрирование текста */
  /* margin-bottom: 50px; Пространство снизу */
}

.wallet-info h2 {
  font-size: 24px; /* Размер заголовка */
  margin-bottom: 20px; /* Пространство снизу */
}

.wallet-info p {
  font-size: 18px; /* Размер текста */
  line-height: 1.5; /* Межстрочный интервал */
}

.transaction-counter {
  margin-top: 30px; /* Пространство сверху */
}

.counter {
  font-size: 36px; /* Размер счетчика */
  font-weight: bold; /* Жирный текст */
  margin-top: 10px; /* Пространство сверху */
}
